<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="dark"></ion-back-button>
    <ion-title>Details</ion-title>

    <ion-button (click)="closeModal()" slot="end" fill="clear" color="light">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let image of insert.images">
      <img [src]="image.url" alt="">
    </ion-slide>
  </ion-slides>

  <div class="ion-padding ion-text-center">
    <h3>{{ insert.title_en }}</h3>

    <div [innerHTML]="insert.details_en"></div>

  </div>
  
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="tertiary ion-text-center">
      <ion-icon name="phone-portrait"></ion-icon> 0123456789
      <ion-icon name="mail"></ion-icon> ahmsam39@gmail.com
  </ion-toolbar>
</ion-footer> -->