<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" color="light">
      <ion-icon slot="icon-only" name="aperture"></ion-icon>
    </ion-button>

    <ion-title>Ads</ion-title>

    <ion-button slot="end" fill="clear" color="light" (click)="openFirst()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-menu side="start" menuId="insertMenu" contentId="insertMain">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="full" routerLink="/agreement" details>
        Agreemnt
      </ion-item>
      
      <ion-item lines="full" routerLink="/agreement" details>
        Add Your Insert
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="insertMain"></ion-router-outlet>

<ion-content>

  <ion-item button lines="full" (click)="goToDetails()">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
    <p>Listen, I've had a pretty messed up day...</p>
  </ion-item>

  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>

  
  <ion-item button lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
    <p>Listen, I've had a pretty messed up day...</p>
  </ion-item>

  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
    <p>Listen, I've had a pretty messed up day...</p>
  </ion-item>

  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>

  
  <ion-item button lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
    <p>Listen, I've had a pretty messed up day...</p>
  </ion-item>

  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
    <p>Listen, I've had a pretty messed up day...</p>
  </ion-item>

  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  
  <ion-item button lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
    <p>Listen, I've had a pretty messed up day...</p>
  </ion-item>

  <ion-item button detail lines="full">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/pl.png" />
    </ion-thumbnail>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>

</ion-content>