<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" color="light">
      <ion-icon slot="icon-only" name="aperture"></ion-icon>
    </ion-button>

    <ion-title>Ads</ion-title>

    <ion-button slot="end" fill="clear" color="light" (click)="openFirst()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-menu side="start" menuId="insertMenu" contentId="insertMain">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Other Pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="full" routerLink="/terms" details>Terms</ion-item>
      <ion-item lines="full" routerLink="/privacy" details>Privacy</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="insertMain"></ion-router-outlet>

<ion-content>

  <ion-item *ngFor="let insert of inserts$ | async" button lines="full" (click)="openDetailsModal(insert)">
    <ion-thumbnail slot="start">
      <img [src]="insert.cover" />
    </ion-thumbnail>
    <ion-label>{{ insert.title_en }}</ion-label>
  </ion-item>

</ion-content>