.profile-image-container{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:5px solid #cccccc;
    margin: auto;
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: -130px;
    overflow: hidden;
}