<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" color="light">
      <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>

    <ion-title>{{ trans.My_Profile }}</ion-title>

    <ion-button slot="end" fill="clear" color="light" (click)="openMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChange($event)">

      <ion-segment-button value="profile">
        <ion-label>{{ trans.Profile }}</ion-label>
      </ion-segment-button>

      <ion-segment-button value="add-insert">
        <ion-label>{{ trans.Add_Inserts }}</ion-label>
      </ion-segment-button>

      <ion-segment-button value="my-insert">
        <ion-label>{{ trans.My_Inserts }}</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-menu side="start" menuId="profileMenu" contentId="profileMain">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ trans.Other_Pages }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="full">
        <ion-label routerLink="/">{{ trans.Welcome }}</ion-label>
      </ion-item>
      
      <ion-item *ngFor="let page of pages$ | async" lines="full" details (click)="openPageModal(page)">{{ page.name }}</ion-item>

      <ion-item lines="full">
        <ion-label>{{ trans.Language }}</ion-label>
          <span>عربى</span>
          <ion-toggle checked="{{ lang }}" (click)="changeLang()"></ion-toggle>
          <span>English</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="profileMain"></ion-router-outlet>

<ion-content>

  <div *ngIf="selectedSegment == 'profile'">
    <div class="ion-text-center ion-padding" style="background-color: #273c75;height: 100px;">

      <div class="profile-image-container">
        <img src="../../assets/images/profile.jpg" />
      </div>

      <div style="margin-top:150px;">

        <form [formGroup]="form">
        <ion-item>
          <ion-icon slot="start" name="pulse"></ion-icon>
          <ion-input formControlName="name" placeholder="{{ trans.Your_Name }}" value="{{ thename }}" clearInput type="text"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-input formControlName="email" placeholder="{{ trans.Your_Email_Address }}" value="{{ theemail }}" clearInput type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="phone-portrait"></ion-icon>
          <ion-input formControlName="phone" placeholder="{{ trans.Your_Phone }}" value="{{ thephone }}"  clearInput type="text"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-icon slot="start" name="finger-print"></ion-icon>
          <ion-input formControlName="password" placeholder="{{ trans.Your_Password }}" clearInput type="password"></ion-input>
        </ion-item>
      
        <div class="ion-padding-top"> 
          <ion-button (click)="submitForm()" [disabled]="form.invalid" expand="block" size="default" color="primary">{{ trans.Update_My_Account }}</ion-button>
        </div>

      </form>

      <div class="ion-padding-top"> 
        <ion-button (click)="logout()" expand="block" fill="outline" size="default" color="danger">{{ trans.Logout }}</ion-button>
      </div>
    
      </div>
    </div>

  </div>

  <div *ngIf="selectedSegment == 'add-insert'">
    <div class="ion-text-center ion-padding" style="background-color: #233881;">
      <img style="width: 70%;" src="../../assets/images/logo.png" alt="">
    </div>

    <!-- <ion-item>
      <ion-icon slot="start" name="image"></ion-icon>
      <input type="file" name="imagefile" (change)="changeFileInput($event)">
      <ion-button (click)="onUpload()" slot="end">
        Upload
      </ion-button>
    </ion-item> -->

    <form [formGroup]='formInsert' enctype="multipart/form-data" class="ion-padding">

      <ion-item>
        <ion-label>{{ trans.Category }}</ion-label>
        <ion-select formControlName="category" value="Choose" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let category of categories$ | async" value="{{ category.uuid }}">{{ category.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="pulse"></ion-icon>
        <ion-input formControlName="title" placeholder="{{ trans.Title }}" clearInput type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="pulse"></ion-icon>
        <ion-textarea formControlName="details" placeholder="{{ trans.Details }}" clearInput type="text" rows="2"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>{{ trans.Cover }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="image"></ion-icon>
        <input formControlName="cover" id="cover" type="file" (change)="changeCoverInput($event)">
      </ion-item>

      <ion-item>
        <ion-label>{{ trans.Images }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="image"></ion-icon>
        <input formControlName="picture" id="picture" type="file" multiple (change)="changePictureInput($event)">
      </ion-item>

      <!-- <div class="ion-padding-top"> 
        <ion-button (click)="onUpload()" expand="block" size="default" color="warning">Upload Cover And Images</ion-button>
      </div> -->

      <div class="ion-padding-top"> 
        <ion-button (click)="submitFormInsert()" [disabled]="formInsert.invalid" expand="block" size="default" color="primary">{{ trans.Save }}</ion-button>
      </div>

      <!-- <ion-item>
        <ion-button (click)="openCam()" >Take Photo</ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)="upload()" >Upload</ion-button>
      </ion-item>

      <ion-item>
        <img src="{{image}}">
      </ion-item> -->
    
    </form>
  </div>

  <div *ngIf="selectedSegment == 'my-insert'">
    
  <ion-item *ngFor="let insert of inserts$ | async" button lines="full" (click)="openDetailsModal(insert)">
    <ion-thumbnail slot="start">
      <img [src]="insert.cover" />
    </ion-thumbnail>
    <ion-label>{{ insert.title_en }}</ion-label>

    <ion-badge color="{{ insert.bg }}" slot="end">{{ insert.status_text }}</ion-badge>
  </ion-item>
  
  </div>

</ion-content>
