<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="dark"></ion-back-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>

  <div class="ion-text-center ion-padding" style="background-color: #f1c40f;">
    <img style="width: 70%;" src="../../assets/images/logo.png" alt="">
  </div>
</ion-header>

<ion-content>

  <h2 class="ion-text-center ion-padding">Welcom Back!</h2>

  <div class="ion-margin">
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input placeholder="Your Email Address" clearInput type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="finger-print"></ion-icon>
      <ion-input placeholder="Your Password" clearInput type="password"></ion-input>
    </ion-item>
  
    <div class="ion-padding-top"> 
      <ion-button expand="block" size="default" color="primary">Login</ion-button>
    </div>

  </div>

  <div class="ion-text-center ion-padding">
    <ion-button fill="clear" color="primary" routerLink="/forget-password">Forget Password?</ion-button>
    <ion-button fill="clear" color="dark" routerLink="/register">Don't Have Account?</ion-button>
  </div>
  
</ion-content>

<ion-footer>
  <ion-button routerLink="/" expand="block" size="small" fill="clear" color="dark" shape="round">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Go Home
  </ion-button>
</ion-footer>

