<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="dark"></ion-back-button>
    <ion-title>{{ trans.Login }}</ion-title>
  </ion-toolbar>

  <div class="ion-text-center ion-padding" style="background-color: #233881;">
    <img style="width: 70%;" src="../../assets/images/logo.png" alt="">
  </div>
</ion-header>

<ion-content color="primary">

  <h2 class="ion-text-center ion-padding">{{ trans.Welcom_Back }}!</h2>

  <div class="ion-margin">

    <form [formGroup]="form">
      <ion-item class="ion-margin-bottom">
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-input formControlName="email" placeholder="{{ trans.Your_Email_Address }}" clearInput type="email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-icon slot="start" name="finger-print"></ion-icon>
        <ion-input formControlName="password" placeholder="{{ trans.Your_Password }}" clearInput type="password"></ion-input>
      </ion-item>
    
      <div class="ion-padding-top"> 
        <ion-button (click)="submitForm()" [disabled]="form.invalid" expand="block" size="default" color="secondary">{{ trans.Login }}</ion-button>
      </div>
    </form>

  </div>

  <div class="ion-text-center ion-padding">
    <!-- <ion-button fill="clear" color="primary" routerLink="/forget-password">Forget Password?</ion-button> -->
    <ion-button fill="clear" color="dark" routerLink="/register">{{ trans.Dont_Have_Account }}?</ion-button>
  </div>
  
</ion-content>

<ion-footer>
  <ion-button routerLink="/" expand="block" size="small" fill="clear" color="dark" shape="round">
    <ion-icon slot="start" name="refresh"></ion-icon>
    {{ trans.Go_Home }}
  </ion-button>
</ion-footer>

