<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" color="primary">
  <div id="container">
    <!-- <ion-img [src]=""></ion-img> -->
    <img src="../../assets/images/logo.png" alt="">
    <strong color="dark">Explore More Ads</strong>

    <div>
      <ion-button expand="block" size="default" fill="outline" color="dark" class="ion-margin" (click)="goToHome()">Home</ion-button>
      <ion-button expand="block" size="default" fill="" color="dark" class="ion-margin" (click)="goToAccount()">My Account</ion-button>
    </div>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
