<ion-content [fullscreen]="true" color="primary">
  
  <div id="container">
    <div class="ion-text-center">
      <img src="../../assets/images/logo.png" alt="">
    </div>
    <strong color="dark">{{ trans.Explore_More_Ads }}</strong>

    <div>
      <ion-button expand="block" size="default" fill="outline" color="light" class="ion-margin" routerLink="/tabs/pages/home">{{ trans.home }}</ion-button>
      <ion-button expand="block" size="default" fill="" color="dark" class="ion-margin" (click)="goToAccount()">{{ trans.my_account }}</ion-button>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title><span routerLink="/terms">{{ trans.Terms }}</span> . <span routerLink="/privacy">{{ trans.privacy }}</span></ion-title>
  </ion-toolbar>
</ion-footer>
