<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="dark"></ion-back-button>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>

  <div class="ion-text-center ion-padding" style="background-color: #233881;">
    <img style="width: 70%;" src="../../assets/images/logo.png" alt="">
  </div>
</ion-header>

<ion-content>

  <h2 class="ion-text-center ion-padding">Recover Your Password</h2>

  <div class="ion-margin">
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input placeholder="Your Email Address" clearInput type="email"></ion-input>
    </ion-item>
  
    <div class="ion-padding-top"> 
      <ion-button expand="block" size="default" color="primary">Send Recovery Email</ion-button>
    </div>

  </div>
  
</ion-content>


<ion-footer>
  <ion-button routerLink="/" expand="block" size="small" fill="clear" color="dark" shape="round">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Go Home
  </ion-button>
</ion-footer>
